.inner-sidebar, .inner-trends {
    position: fixed;
}

.sidebar, .trends {
    flex: 0 0 18%;
    font-family: 'Inter', sans-serif;
    margin: 10px;
}

.navLink {
    display: flex;
    text-decoration: none;
    color: white;
}
.navLink img {
    padding-bottom: 10px;
}


.side-tweet-button {
    text-transform: capitalize;
    padding: .7rem 4.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}
.side-tweet-button:hover{
    background-color: #1D9BF080;
    cursor: pointer;
}

.sidebar ul {

    list-style-type: none;
    font-size: 15px;
}

.sidebar li {
    padding: 10px 0 10px 0;
    font-weight: 500;
}
.sidebar li span {
    height: 5px;
}

.side-user-info{
    display:flex;
    margin-top: 60px;
    justify-content: space-evenly;
    align-items:center;
    padding: 7px 7px;
}

.side-user-info .profile-picture {
    flex: 0 0 50px;
    /*padding: 0 rem;*/
}

.side-user-info .profile-picture img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.more-info{
    margin-left : 30px;
}

.side-user-info:hover {
    background-color : #202327;
    cursor: pointer;
    border-radius: 50px;
}
