.searchbar, .trends-for-you, .who-to-follow {
    background: #202327;
    width: 100%;
    padding: 6px;
    margin: 7px;
    border-radius: 15px;
}

.searchbar img {
    width: 14px;
    height: 14px;
    filter: invert(48%) saturate(50%) brightness(50%) contrast(50%);
}

.searchbar input {
    background: none;
    outline: none;
    border: none;
}

.trends .dots-menu {
    margin-left: 85px;
}

.show-more {
    color: #1D9BF0;
    font-size: 12px;
    margin: 13px 0 8px 0;
}

.trends p {
    font-size: 6px;
}
.trends h3 {
    font-size: 12px;
}

.button-white {
    text-transform: capitalize;
    padding: .3rem 0.7rem;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    color: #272727;
    font-size: 0.6rem;
}

.little-grey {
    font-size: 7px;
    color: #727272;
}

.searchbar{
    display: flex;
    justify-content: space-between;
}

.footer-text {
    justify-content: center;
    text-align: center;
}
.footer-text p {
    color: #6E767D;
    font-size: 8px;
    font-weight: 500;
}
