.author-profile {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .4rem 1rem;
    cursor: pointer;
}

.author-profile img {
    width: 30px;
    height: 30px;
}

.author-name {
    margin-left: 1.6rem;
}

.author-name .name {
    font-weight: bold;
    font-size: 1rem;
}

.author-name .author-post-number {
    font-size: .8rem;
    margin-top: .5rem;
    color: rgb(113, 118, 123);
}

.banner-profile {
    height: 200px;
    background: rgb(113, 118, 123);
    position: relative;

}

.image-profile {
    width: 130px;
    height: 130px;
    border-radius: 9999px;
    margin-left: 1.3rem;
    position: absolute;
    top: 125px;
}

.image-profile img {
    width: 100%;
    border-radius: 9999px;
    border: 5px solid black;
    cursor: pointer;
}

.edit-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-profile span {
    border: 2px solid rgb(113, 118, 123);
    border-radius: 25px;
    font-weight: bold;
    font-size: .9rem;
    padding: 10px;
    margin: 10px 10px;
    cursor: pointer;
}

.additional-infos {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: rgb(113, 118, 123);
    font-size: .95rem;
    gap: 15px;
}

.profile-informations {
    margin: 1.4rem 1rem;
}

.profile-informations .info-name .name {
    font-weight: bold;
    font-size: 1.1rem;
}

.profile-informations .info-name .username {
    font-size: .89rem;
    margin-top: .3rem;
    color: rgb(113, 118, 123);
}

.date-joined {
    display: flex;
    align-items: center;
    color: rgb(113, 118, 123);
    font-size: .95rem;
}

.date-joined .date {
    margin-left: .3rem;
}

.section-follow-profile {
    display: flex;
    font-size: .84rem;
    margin-top: .9rem;
    color: rgb(113, 118, 123);
}

.section-follow-profile span {
    color: white;
    font-weight: bold;
}

.section-follow-profile .follower {
    margin-left: 1rem;
}

.choice-section-profile {
    color: rgb(113, 118, 123);
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(113, 118, 123);

}

.choice-section-profile div {
    flex-grow: 1;
    text-align: center;
    padding: 1.2rem 0;
}
.choice-section-profile div {
    flex-grow: 1;
    text-align: center;
    padding: 1.2rem 0;
}

.choice-section-profile div:hover {
    background: rgba(113, 118, 123, 0.200);
}

