.inner-sidebar{
    font-family: 'Inter', sans-serif;
    padding: 10px 0px 10px 10px;
    height: 90%;
    position: sticky;
    top: 0;
    bottom: 0;
}

.nav-bar-style {
    margin: 10px 0 10px 0;
    font-size: 13px;
}

li {
    list-style-type: none;
    color: white;
    display: flex;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
    font-weight: 500;
}



.side-tweet-button {
    text-transform: capitalize;
    padding: .7rem 4.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}
.side-tweet-button:hover{
    background-color: #1D9BF080;
    cursor: pointer;
}

.sidebar li span {
    height: 5px;
}

.side-user-info{
    display:flex;
    margin-top: 90px;
    justify-content: space-evenly;
    align-items:center;
    padding: 5px 30px 5px 30px;
}

.side-user-info .profile-picture {
    flex: 0 0 50px;
    /*padding: 0 rem;*/
}

.side-user-info .profile-picture img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.more-info{
    margin-left : 30px;
}

.side-user-info:hover {
    background-color : #202327;
    cursor: pointer;
    border-radius: 50px;
}
